bs4
emojis
fake_useragent
feedparser
googlenews
googletrans==4.0.0rc1
gtts
Image
lxml
nltk
numpy
opencv-python-headless
pafy
pandas
phonenumbers
pillow
PyPDF4
PyLyrics
python-allrecipes
python-dateutil
PyMuPDF
pytz
pyzbar
requests
streamlit
youtube-dl
xlrd
xlsxwriter
qrcode
textblob
wikiquote
wikipedia
yfinance
